@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #242424;
  --adm-color-primary: #46D69C;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.adm-passcode-input-cell {
  --adm-color-background: #F3F3F3;
  --border-radius: 4px;
  --cell-gap: 8px;
  --border-color: transparent;
  width: 48px !important;
  height: 56px !important;
}

.adm-notice-bar {
  color: #090A04 !important;
  background-color: #FEC5331A !important;
  font-size: 0.7rem !important;
  height: 1.5rem !important;
}

.adm-button:not(.adm-button-default) {
  color: #242424;
  --border-radius: 0.75rem;
  height: 2.75rem;
}

.adm-center-popup {
  --adm-center-popup-border-radius: 1rem;
}

.adm-auto-center-content {
  font-size: 16px;
}