@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #242424;
  --adm-color-primary: #46D69C;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.adm-passcode-input-cell {
  --adm-color-background: #F3F3F3;
  --border-radius: 4px;
  --cell-gap: 8px;
  --border-color: transparent;
  width: 48px !important;
  height: 56px !important;
}

.adm-notice-bar {
  color: #090A04 !important;
  background-color: #FEC5331A !important;
  font-size: 0.7rem !important;
  height: 1.5rem !important;
}

.adm-button:not(.adm-button-default) {
  color: #242424;
  --border-radius: 0.75rem;
  height: 2.75rem;
}

.adm-center-popup {
  --adm-center-popup-border-radius: 1rem;
}

.adm-auto-center-content {
  font-size: 16px;
}

.adm-tabs-tab-wrapper {
  background: #fff;
}

.adm-tabs {
  --active-line-height: 4px;
  --fixed-active-line-width: 24px;
}

.adm-tag {
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}

.adm-list-item {
  background-color: transparent;
  padding-left: 0;
}

.adm-list-body {
  background-color: transparent;
}

.adm-list-item-content {
  padding-right: 0;
  border: none;
}

.adm-list-item-content-main {
  padding: 8px 0;
}

.adm-list-default .adm-list-body {
  border: none;
}

.header-bg {
  background: linear-gradient(90deg, #FFF9EE 0%, #E4FFF2 100%);
}

.adm-skeleton.adm-skeleton-paragraph-line:last-child {
  --width: 100%;
}