@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #242424;
  --adm-color-primary: #46D69C;
}

.adm-passcode-input-cell {
  --adm-color-background: #F3F3F3;
  --border-radius: 4px;
  --cell-gap: 8px;
  --border-color: transparent;
  width: 48px !important;
  height: 56px !important;
}